/*-- scss:defaults --*/

/*-- scss:rules --*/

.references p {
  text-indent: -2em;
  padding-left: 2em;
}

.exclude-from-html {
  display: none;
}


.math-table {
  float: right;
  width: 80%;
  font-size: 0.75em;
}

.math-table th {
  font-style: italic;
}
